/* General Page Setup */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8;
  color: #222;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Header and Navigation */
.wrap {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

/* Logo (Name) */
.logo {
  font-size: 36px;
  margin: 0;
  color: #1a4b8a;
  padding-left: 20px; 
  align-items: center; 
  line-height: 1;
  text-align: left;
  display: flex;
  gap: 10px;
  justify-self: flex-start;
}

.logo span {
  color: #20a6fe;
}

.logo-img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

/* Navigation Links */
.wrap a {
  text-decoration: none;
  color: #1a4b8a;
  font-weight: bold;
  margin: 0 12px;
}

.wrap a:hover {
  color: #e63946;
  text-decoration: underline;
}

/* Headings  */
h2 {
  color: #1a4b8a;
  margin-top: 40px;
  margin-bottom: 10px;
}

h3 {
  color: #2c3e50;
  margin-top: 25px;
}

/* Paragraphs  */
p {
  width: 80%;
  max-width: 700px;
  margin: 10px auto;
  line-height: 1.6;
}

/* Buttons */
.btn {
  display: inline-block;
  background-color: #3498db;
  color: white;
  padding: 10px 16px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 12px;
  font-weight: bold;
}

.btn:hover {
  background-color: #2c80b4;
}

/* Decorative Circles (Home Page) */
.hero-badge {
  position: relative;
  height: 160px;
  margin: 40px auto;
}

.circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.3;
}

.circle.sm {
  width: 60px;
  height: 60px;
  background-color: #a7c7ff;
  top: 30px;
  left: 40%;
}

.circle.md {
  width: 90px;
  height: 90px;
  background-color: #baf0d7;
  top: 40px;
  left: 48%;
}

.circle.lg {
  width: 110px;
  height: 110px;
  background-color: #ffe59e;
  top: 20px;
  left: 55%;
}

/* Horizontal Rule Styling (Projects Page) */
hr {
  width: 80%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 25px auto;
}

/* Form (Contact Page) */
form {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  text-align: left;
  padding-right: 35px;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  color: #2c3e50;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
}

button.btn {
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
}

/* Footer */
.wrap p {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding-top: 10px;
  color: #555;
  font-size: 14px;
}
